{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>About</h1>

    <p>AOM is your go-to online marketplace for a diverse range of high-quality or pre-loved products. We connect you with trusted sellers from around Holy Angel University, offering an easy and secure shopping experience. Explore unique finds, top-notch goods, and exceptional service—all in one place.</p>

    <p>We’d love to hear from you! Whether you have questions, feedback, or need support, feel free to reach out to us using the information below.</p>

    <p><strong>Email:</strong> <a href="mailto:aom@gmail.com">aom@gmail.com</a></p>

    <p><strong>Phone:</strong> 09123 456 790</p>

    <p><strong>Address:</strong> Holy Angel St, Angeles, 2009 Pampanga, Philippines</p>
{% endblock %}
